.main_div {
    background-color: white;
    margin-left: 14rem!important;
}

.badge-date {
    background-color: #9197D0;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.25rem;
    border-radius: 0.25rem;
    user-select: none;
}

.site-header-text {
    font-weight: 600;
}

.map-container {
    overflow: hidden;
    border-radius: 0.5rem;
}

.map-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Start of Map */

.leaflet-container {
    height: 25rem;
}

/* End of Map */

.title-wrap {
    display: flex;
    flex-direction: column;
}

.date-range {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-top: 0.7rem;
}
