.navbar{
    display: flex;
    justify-content: space-around;
    transition: all 0.5s;
    z-index: 2;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border: solid 1px lightgray;
    border-left: none;
    border-right: none;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}