.navbar-hidden {
    display: none;
}

/* Start of Topbar */

.navbar {
    z-index: 2;
    background-color: white;
    border: 0.1rem solid lightgray;
    border-left: none;
    border-right: none;
    margin-left: 15rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-weight: 900;
}

#avatar-crop {
    width: 3rem;
    height: 3rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 0.1rem solid lightgray;
    cursor: pointer;
    transition: border 200ms;
}

#avatar-crop:hover {
    border: 0.1rem solid gray;
}

#avatar-crop img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/* End of Topbar */

/* Start of Sidebar */

.sidebar {
    background-color:#43454f;
    height:100%;
    width:15rem;
    position:fixed;
    z-index:3;
    overflow:auto;
    padding: 2rem;
}

.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.sidebar-list {
    list-style-type: none;
}

.sidebar-list-header {
    color: white;
    font-weight: 600;
    border-radius: 0.25rem;
    user-select: none;
    padding: 0.5rem;
    border: 0.1rem solid #6c757d;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    cursor: default;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.sidebar-list-item {
    color: white;
    border-radius: 0.25rem;
    user-select: none;
    padding: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.sidebar-list-item:hover {
    background-color: rgb(208, 145, 183, 0.5);
}

.sidebar-list-item-active {
    background-color: #D091B7;
    color: white;
    border-radius: 0.25rem;
    user-select: none;
    padding: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.sidebar-logout {
    color: #B22222;
    border-radius: 0.25rem;
    font-weight: 600;
    user-select: none;
    padding: 0.5rem;
    cursor: pointer;
}

.sidebar-logout:hover {
    background-color: #B22222;
    color: white;
    
}

/* End of Sidebar */
