/* Start of Navbar */

.navbar{
    transition: all 0.5s;
    z-index: 2;
    background-color: white;
    border: solid 1px lightgray;
    border-left: none;
    border-right: none;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    width: 100%;
}

/* End of Navbar */
