.navbar-hidden {
    display: none;
}

/* Start of Topbar */

.navbar {
    z-index: 2;
    background-color: white;
    border: 0.1rem solid lightgray;
    border-left: none;
    border-right: none;
    margin-left: 14rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-weight: 900;
}

#avatar-crop {
    width: 3rem;
    height: 3rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 0.1rem solid lightgray;
    cursor: pointer;
    transition: border 200ms;
}

#avatar-crop:hover {
    border: 0.1rem solid gray;
}

#avatar-crop img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#profile-header-div {
    display: flex;
    flex-direction: column;
    padding-right: 0.75rem;
    text-align: right;
}

#profile-header-div h4 {
    margin-bottom: 0;
}

#logout-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    font-weight: 100;
    justify-content: end;
}

#logout-div:hover>.logout-link, #logout-div:hover>.logout-icon {
    cursor: pointer;
    color: #d32f2f !important;
    fill: #d32f2f !important;
}

.logout-icon {
    fill: darkgray !important;
    width: 1rem !important;
    height: 1rem !important;
}

.logout-link {
    color: black;
    font-size: 0.8rem;
    color: darkgray;
}

/* End of Topbar */

/* Start of Sidebar */

.logo-div {
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-bottom: 0.1rem solid #E4E4E4;
}

.logo-photo {
    max-height: 7rem;
    width: 100%;
}

.sidebar {
    background-color:#F9F9F9;
    height: calc(100% - 3.5rem);
    width: 14rem;
    position:fixed;
    z-index:3;
    overflow:auto;
    border-right: 0.1rem solid #E4E4E4;
    padding-bottom: 3.5rem;
}

.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.sidebar-list-header {
    color: black;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    user-select: none;
    margin-bottom: 0.5rem;
}

.sidebar-icons {
    width: 1rem!important;
}

.sidebar-list-item {
    color: black;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    user-select: none;
    text-decoration: none;
}

.sidebar-list-item:not(:last-child),
.sidebar-list-item-active:not(:last-child) {
    margin-bottom: 0.5rem;
}

.sidebar-list-item:hover {
    color: #E72423;
}

.sidebar-list-item-active {
    color: #E72423;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    user-select: none;
    text-decoration: none;
}

.sidebar-group {
    padding: 1rem;
    border-bottom: 0.1rem solid #E4E4E4;
}

#sidebar-profile {
    color: #E72423;
    border-top: 0.1rem solid #E4E4E4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    width: 100%;
}

.sidebar-sticky {
    position: fixed;
    background-color: #F9F9F9;
    height: 3.5rem;
    width: 14rem;
    border-right: 0.1rem solid #E4E4E4;
    bottom: 0;
}

.profile-user-div {
    display: inherit;
    align-items: inherit;
}

.profile-avatar {
    background-color: rgb(231, 36, 35, 0.1);
    height: 2rem;
    width: 2rem;
    border-radius: 0.25rem;
    position: relative;
}

.profile-letter {
    font-size: small;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.profile_username {
    font-size: small;
    margin: 0rem 0.5rem;
}

/* End of Sidebar */

/* Start of 404 */

.main-div {
    position: relative;
    z-index: 1;
    margin-left: 14rem;
    height: 100vh;
    width: calc(100% - 14rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text {
    font-weight: 900;
    font-size: 15rem;
    user-select: none;
}

.error-text-container {
    display: flex;
    height: 100%;
    align-items: center;
}

#cog-container {
    display: flex;
    align-items: center;
}

#animated-cog {
    animation: cog-spin 3500ms ease infinite;
}

@keyframes cog-spin {
    0% {
        color: inherit;
        transform: rotate(60deg);
    }
    20% {
        color: inherit;
        transform: rotate(120deg);
    }
    40% {
        color: #E72423;
        transform: rotate(180deg);
    }
    60% {
        color: #E72423;
        transform: rotate(240deg);
    }
    80% {
        color: inherit;
        transform: rotate(300deg);
    }
    100% {
        color: inherit;
        transform: rotate(360deg);
    }
  }
/* End of 404 */
