/* Start of ManageSites */

.bg-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    z-index: 0;
}

.main_div {
    position: relative;
    margin-left: 14rem;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.site-table-card {
    border-width: 0;
}

/* End of ManageSites */

/* Start of SiteTable */

.tabulator-footer-contents {
    display: flex;
    justify-content: space-between;
}

/* Start of Modals */

.input-wrap {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.confirm-delete {
    gap: 0.5rem;
}

/* End of Modals */

/* End of SiteTable */