/* Start of ManageTrucks */

.bg-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    z-index: 0;
}

.main_div {
    position: relative;
    margin-left: 14rem;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

.site-table-card {
    border-width: 0;
}

.card-header {
    background-color: white;
}

/* End of ManageTrucks */

/* Start of TruckTables */

.title-wrap {
    display: flex;
    flex-direction: column;
}

.actions-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.actions-div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: -0.15rem;
}

.filters-wrap {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    max-width: 55%;
}

.tabulator-footer-contents {
    display: flex;
    justify-content: space-between;
}

.settings-wrap {
    gap: 0.5rem;
}

/* End of TruckTables */

/* Start of Modal */

.modal-header {
    background-color: #019B63;
    color: white;
}

.modal-header-red {
    background-color: #E72423;
}

.modal-title {
    font-size: large;
}

.modal-content {
    border-width: 0;
}

.form-wrap {
    display: inherit;
    flex-direction: inherit;
    gap: 0.5rem;
}

.form-row-wrap {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.button-row-wrap {
    gap: 0.5rem;
}

/* End of Modal */